<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

	<properties>
	</properties>
	
	<typeAliases>
		<package name="com.alison.pojo"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/struts_practice"/>
				<property name="username" value="root"/>
				<property name="password" value="mysql2087"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/alison/mybatis/hobbyMapper.xml"/>	 <!-- 写的是路径名，包名的点号换成 / 路径分割 -->
		<mapper resource="com/alison/mybatis/personMapper.xml"/>
	</mappers>
	
</configuration>


