<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mapper.UserMapper">
	
	
	<!-- 根据用户名称模糊查询用户信息，可能返回多条
	resultType：指定就是单条记录所映射的java对象 类型
	#{}:表示拼接sql串，将接收到参数的内容不加任何修饰拼接在sql中。
	使用${}拼接sql，引起 sql注入
	#{value}：接收输入 参数的内容，
	-->
	<select id="findUserByName" parameterType="java.lang.String" resultType="pojo.User">
		select * from user where name like '%${value}%'
	</select>
	
	<select id="listAllUsers" resultType="pojo.User">
		select * from user
	</select>

</mapper>